A {text-decoration: none;}
@keyframes slideup {
    from {
      transform: translatey(20px);
      opacity: 0%;
    }
    to {
      transform: translatey(0px);
      opacity: 100%;
    }
  }
  @keyframes fadein {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }
  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spinneroff {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.loader {
    background: rgba(255, 255, 255, 0.919);
    opacity: 0.9;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.2s 3s forwards;
  }
  
  .spinner-1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid rgba(161, 160, 160, 0);
    border-top: 15px solid #060dd7;
    border-left: 15px solid #060dd7;
    border-bottom: 15px solid #060dd7;
    animation: spinneroff 0.8s 0.2s 5;
  }
  
  .spinner-2 {
    border: 15px solid rgba(161, 160, 160, 0);
    border-top: 15px solid #03a32e;
    border-right: 15px solid #03a32e;
    border-bottom: 15px solid #03a32e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 1;
    animation: spinner 0.8s 0.2s 5;
    position: absolute;
  }
  
  .spinner-3 {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 10px solid rgba(161, 160, 160, 0);
    border-top: 10px solid #f80303;
    border-left: 10px solid #f80303;
    border-bottom: 10px solid #f80303;
    animation: spinneroff 0.8s 0.2s 5;
  }




body{
    margin:0px;
    font-family: "Roboto", sans-serif;
    
}
header{
    font-family: "Shrikhand", sans-serif;
}

.logo{
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 5px;
    
}
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    background-color: #97949440;
    font-size: 15px;
     
 }
 .paris-belleville{
     padding-right: 35px;
     font-size: 15px;
     font-weight: 600;
 }   
   
 .texte-1{
     padding: 0px 56px;
     margin-top: 7%;
     text-align: center;
     font-size: 25px;
     font-weight:900;
 } 
 
 .texte-2{
     text-align: center;
     font-size: 18px;
     font-weight: 300;
     margin-block-start: -8px;
     margin-block-end: 30px;
     
 }  
 .bouton-0{
     display: block;
     margin : auto;
     font-size: 15px;
     border:none;
     padding:16px 25px;
     border-radius: 25px;
     background: linear-gradient(to  top left,#9356DC,#FF79DA );
     color: white;
     box-shadow: 1px 4px 8px 0px rgb(178, 177, 177);
 }
 .zone-reserver-menu{
     background-color: whitesmoke;
     padding-top: 7px;
     height: 290px;
     
 }
 .bouton-0:hover {
     box-shadow:1px 4px 15px 0px grey;
     background: linear-gradient(to  bottom left,#FF79DA,#9356DC );
     padding:18px 27px;   
 }
 .fonctionnement{
     
     font-size: 1.5em;
     margin-block-start: 45px;
     margin-block-end: 0.83em;
     margin-left: 5%;
     font-weight: 900;
 }
 .boutons{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-top: 30px;
     margin-left: 15px;
     
 
 }
 .bouton-accueil{
     width: 80%;
     display:flex;
     margin-left:20px;
     background-color: #f3f3f3;
     align-items: center;
     margin-block-end: 30px;
     gap: 25px;
     padding:10px;
     border-radius: 20px;
     box-shadow:1px 4px 15px 0px rgb(194, 192, 192); 
     border: none;
     
           
 }
 .item1{
     font-size: 17px;
     font-weight: bold;
 }
 .bouton-accueil:hover{
     background-color: #f2e9fd; 
     box-shadow:1px 4px 25px 0px rgb(174, 172, 172);
 }
 
 
     
 
 .chiffre{
     border: 1px solid black;
     padding: 4px 8px;
     background-color: #9356DC;
     color: white;
     border:none;
     border-radius: 25px;
     align-items: center;
     margin-left: -25px;
    
 }
 
 .mobile{
     font-size: 20px;
     padding-left: 5px;
     color: rgb(115, 113, 113);
 }
 .shop{
     color: #9356DC;
     font-size:15px ;
 }
 .section1{
     display: flex;
     flex-direction: column;
     background-color:#f1f2f2;
     margin-top: 42px;
     padding-bottom: 60px;
     display: flex;
     gap: 20px;
 
 }
 .titre-restaurant{
     margin-bottom: 2px;
     margin-top: 48px;
     margin-left: 25px;
 }
 .niveau1{
    display: flex;
    flex-direction: column;
    gap:25px;
 }
 .niveau2{
    display: flex;
    flex-direction: column;
    gap:25px;

 }
 .les-restos{
     display: flex;
     flex-direction: column;
     gap: 25px;
    
 }
 
 .restaurant{
     box-shadow:1px 4px 25px 0px rgb(174, 172, 172);
     background-color: white;
     border-radius:25px;
     margin: auto;
     width:88%;
     height:240px;
     
    
 
 }
 .nouveau-1{
     
   
     position:relative;
     left: 70%;
     bottom: 66%;
    
 
 }
 .nouveau-2{
     position:relative;
     left: 70%;
     bottom: 62%;
 
 }
 .nouveau-txt{
     text-align: center;
     border-radius: 0px;
     font-size: 14px;
     padding: 7px 13px;
     background-color:#88d3c2;
     color: rgb(11, 105, 11);
 }
 .img1{
    width: 100%;
    object-fit: cover;
    object-position: 0px -30px;
    border-radius:25px 25px 0px 0px;
    height:180px;
 }
 .img2{
     width: 100%;
     object-fit: cover;
     object-position: 0px -136px;
     border-radius:25px 25px 0px 0px;
     height:172px;
  }
 
 .img3{
    width: 100%;
    object-fit: cover;
    object-position: 0px -55px;
    border-radius:25px 25px 0px 0px;
    height:180px;
 }
 .img4{
     width: 100%;
     object-fit: cover;
     object-position: 0px -57px;
     border-radius:25px 25px 0px 0px;
     height:180px;
  }
 .txt-et-icone{
     display: flex;
     justify-content: space-between;
     align-items:center;
     margin-top: -4px;
 }

 .txt-et-icone1{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: -20px;
 }
 .txt-1-2{
     margin-left: 5%;
     color: black;
     
 
 }
  
 
      
 .para-1{
     margin-top: 7px;
     font-size: 18px;
     font-weight: 900;
 
 }
 .para-2{
     margin-top: -15px;
     font-size: 17px;
    
 }
.entete{
    display: flex;
    align-items: center;
}

.fa-solid{
    margin-left: 26px;
    position: relative;
    top: 5px;
    padding-right: 60px;
    font-size: 20px;
}
.logo-accueil{
    border-bottom: 3px solid rgb(196, 195, 195);
    box-shadow: 0px 0px 7px 0px rgba(184, 183, 183, 0.794);
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;

    
}


.main-color{
    background-color: #f3f3f3;
}
.img-haut{
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: -13px 2px;

}
.img-note-enchantée{
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: 0px -97px;

}
.enseigne-resto{
    font-family: "Shrikhand", sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.enseigne-coeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 24px;
   padding-top: 12px;
}
.menu{
    width: 100%;
   
    background-color: #f3f3f3;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 59px;
}
.menu-note-enchantée{
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 59px;

}
.border-heart{
  
    margin-right: -26px;
    font-size: 23px;
}  
    
  
  

 .solid-heart{
    margin-right: 25px;
    font-size: 23px;
    color:transparent;
    background-image:linear-gradient(#FF79DA,#9356DC) ;
    background-clip: text;
    -webkit-background-clip: text; 
    opacity: 0;
 }

  .solid-heart:hover {
     opacity: 1;
 }

 


    

.shop{
   margin-right: 36px;
   
  
}
  

.div-entrées{
    border-bottom: 3px solid #99e2d0;
    width: 11%;
    height: 25px;
    margin-left: 22px;
}
.boutons-entrées {
    
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top:15px
}

.boutons-tout-menu{
    background: white;
    height: 60px;
    width: 90%;
    margin-left: 20px;
    display: flex;
    border-radius: 15px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    animation: slideup 1s forwards;
    opacity: 0;
}


.boutons-tout-menu:hover .choix-menu {
    opacity: 100%;
    width: 60px;
}
.fa-regular{
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
}
.heart-menu{
    margin-right: 30px;
}

.boutons-tout-menu .choix-menu {
    background: #99e2d0;
    cursor: pointer;
    height: auto;
    width: 0;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}


.boutons-tout-menu .choix-menu .iconecheck {
    font-size: 3rem;
    color: white;
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;
}
.font-icons{
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    
   
}

.nom-plat{
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    
}
.titre-plat{
    margin-bottom:-10px ;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;

}
.detail-plat{
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 15px;

}
.prix{
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 15px;
}
.div-plats{
    margin-top: 40px;
    border-bottom: 3px solid #99e2d0;
    width: 11%;
    height: 25px;
    margin-left: 22px;
}
.bouton-commander{
    width: 40%;
    text-align: center;
    margin-top: 56px;
    margin-left: 86px;
    padding: 16px 25px;
    border-radius: 25px;
    background: linear-gradient(to top left,#9356DC,#FF79DA );
    color: white;
    box-shadow: 1px 4px 8px 0px rgb(178 177 177);
}

.zone-entrées-plats-dessert{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width : 1201px){
    .logo{
         margin-left: 40%;
         }
        .img-haut{
        object-position: -13px -578px;
        }

        .img-note-enchantée{
            object-position: 0px -490px;
            
        }
        .bouton-commander{
        margin-left: 520px;
        
        }
      
        .txt-et-icone{
            margin-top: -4px;
        }
        .img2{
            object-position: 0px -250px;
        
        }
        .img1{
            object-position: 0px -53px;
        }
        .nouveau-2{
            position: relative;
        }
        .restaurant{
            width:500px;
            height:250px;
        }
        .niveau1{
            display: flex;
            flex-direction: column;
            gap:50px;
         }
         .niveau2{
            display: flex;
            flex-direction: column;
            gap:50px;
        
         }
        .les-restos{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }
       
        .titre-restaurant{
           margin-left: 98px;
        }
        .heart-menu{
            margin-right: 75px;
        }
       
        .bouton-accueil{
            width: 25%;
            margin: auto;
            
        }
        .boutons{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 30px;
            margin-left: 15px;
        }
        .boutons-tout-menu{
            width:545px;
           background: white;
           height: 60px;
        }
        .zone-entrées-plats-dessert{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-left: 40px;
            
        }
}

@media (min-width: 661px) and (max-width: 1200px){

        .logo{
            margin-left: 30%;
        }
        .titre-restaurant{
            margin-left: 40px;
        }
        .restaurant{
            width:340px;
        }
        .nouveau-1{
            bottom: 67%;
        }
        .nouveau-2{
            bottom: 64%;
        }
        .img2{
        object-position: 0px -160px;
        }
        .txt-et-icone1{
        margin-top: -15px;
        }
       
        .img-haut{
            object-position: 0px -247px;
        }
        .boutons-tout-menu{
            margin-left: 30px;
            width: 700px;
        }
        .bouton-commander{
            margin-left: 260px;
        }
        .bouton-accueil{
            width: 80%;
            margin: auto;
        }
        .boutons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 30px;
            gap:25px;
        }
        .niveau1{
            display: flex;
            flex-direction: column;
            gap:50px;
         }
         .niveau2{
            display: flex;
            flex-direction: column;
            gap:50px;
        
         }
        .les-restos{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
           }

        .zone-entrées-plats-dessert{
            display: flex;
            flex-direction:column;
        }
}

.footer{
    background-color: #2e2e2e;
    padding: 2px 0px;
    color: whitesmoke;
}
.p1-footer{
    padding-bottom:6px;
    font-family: "Shrikhand";
    font-size: 18px;
    margin-left: 5%;
}
.icone-et-txt-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    gap:10px;
    font-size: 15px;
    margin-block-start: -24px;
    margin-block-end: -1px;
    
}

.mention-legal{
    margin-block-start: -9px;
    margin-block-end: -1px;
    font-size: 15px;
    margin-left: 5%;
}

.contact{
    margin-block-start: 11px;
    margin-block-end: 28px;
    font-size: 15px;
    margin-left: 5%;
    color: white;
}